*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
}

.first-image{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
}

.img{
    width: 500px;
    height: 400px;
}

.img-2{
    z-index: -1;
    background-color: black;
    position: absolute;
    left: 52%;
    top: 51%;
    transform: translate(-50%, 2%);
}
.img-3{
    z-index: -2;
    background-color: green;
    position: absolute;
    left: 53%;
    top: 52%;
    transform: translate(-50%, 4%);
}
.img-4{
    z-index: -3;
    background-color: red;
    position: absolute;
    left: 54%;
    top: 51%;
    transform: translate(-50%, 6%);
}
